#heading
{
position:relative;
margin-top:30px;
margin-left:10%;
}
#title
{
 position:relative;
 margin-top:30px;
 margin-left:0px;
 color:white;
 font-size:40pt;
 font-family:Comic sans;
}
#forumimg
{
position:relative;
margin-top:-74px;
margin-left:680px;
}
#backup
{
position:relative;
margin-bottom:auto;
margin-top:13px;
margin-left:auto;
margin-right:auto;
height:1050px;
width:920px;
background: #181c21 url(images/bgcolor2.jpg) top repeat-x;
overflow:hidden;
}
#backdown
{
position:relative;
margin-bottom:auto;
margin-top:auto;
margin-left:auto;
margin-right:auto;
height:107px;
width:920px;
background:url(images/bgcolor3.jpg);
border-top-style:solid;
border-bottom-style:solid;
overflow:hidden;
}
#myspace
{
position:absolute;
margin-bottom:auto;
margin-top:25px;
margin-left:25px;
margin-right:auto;
height:1000px;
width:650px;
background-color:#fff;
}
#news
{
position:absolute;
margin-right:auto;
margin-top:300px;
margin-left:700px;
height:600px;
width:200px;
background-color:#fff;
overflow:hidden;
}
#newstop
{
 position:absolute;
 margin-right:25px;
 margin-top:0px;
 margin-left:auto;
 height:35px;
 width:200px;
 background:url(images/tabs.jpg); 
 color:white;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size: 16pt;
 text-align:center;
}
#log
{
position:absolute;
margin-right:auto;
margin-top:25px;
margin-left:700px;
height:250px;
width:200px;
background-color:#fff;
overflow:hidden;
}
#logtop
{
 position:absolute;
 margin-right:25px;
 margin-top:0px;
 margin-left:auto;
 height:35px;
 width:200px;
 background:url(images/tabs.jpg); 
 color:white;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size: 16pt;
 text-align:center;
}
#loggedtop
{
 position:absolute;
 margin-right:25px;
 margin-top:0px;
 margin-left:auto;
 height:35px;
 width:200px;
 background:url(images/tabs.jpg); 
 color:white;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size: 16pt;
 text-align:center;
}