
.frame1, .frame2, .frame3, .frame4, .frame5
{
position:relative;
margin-bottom:auto;
margin-top:5px;
margin-left:5px;
margin-right:auto;
height:1240px;
width:640px;
border:0px;
}
.frame3
{
 overflow-y:auto;
}
.clock
{
border:0px;
overflow:hidden;
}
.news
{
position:absolute;
margin-bottom:auto;
margin-top:50px;
margin-left:3px;
margin-right:auto;
height:400px;
width:185px;
border:0px;
overflow:hidden;
}
#logwin, #loggedwin
{
 position:absolute;
 margin-bottom:auto;
 margin-top:35px;
 margin-left:3px;
 margin-right:auto;
 height:205px;
 width:185px;
 border:0px;
 overflow:hidden;
 font-size: 11pt;
 font-weight: normal;
}
.log
{
 position:absolute;
 margin-bottom:auto;
 margin-top:35px;
 margin-left:3px;
 margin-right:auto;
 height:205px;
 width:185px;
 border:0px;
 overflow:hidden;
}
#mask 
{
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window 
{
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog
{
  width:375px; 
  height:203px;
  padding:10px;
  background-color:#ffffff;
}

