
body
{
overflow-y:auto;
overflow-x:hidden;
}
#myforumtable
{
 position: absolute;
 margin-top: 175px;
 margin-left: 10px;
}
#mythreadtable
{
 position: relative;
 margin-top: 175px;
 margin-left: -5px;
}
.ftable
{
 border: 2px solid white;
}
th
{
 background:url(images/tablehead.jpg);
}
#myforumtable td
{
 width: 187px;
 align:center;
 color:#1569C7;
 background-color: #C2DFFF;
 text-align: center;
}
#mythreadtable td
{
 width: 150px;
 align:center;
 color:#1569C7;
 background-color: #C2DFFF;
 text-align: center;
}
#newthread
{
 position:relative;
 width: 500px;
 height: 400px;
 margin-top: 40px;
 margin-left: 0px;
 background-color:#fff;
 border-style:dashed;
 border-width: 1px;
 border-color:#1569C7;
}
#newthreaddetail
{
 position:absolute;
 margin-top:12px;
 margin-left:20px;
 font-weight:bold;
 font-size: 13pt;
}

#newthreadhead
{
 position:relative;
 width: 500px;
 height: 50px;
 background:url(images/tablehead.jpg);
}



