div.sc_menu1 {
  /* Set it so we could calculate the offsetLeft */
  position: absolute;
  height: 195px;
  width: 500px;
  margin-top: 10px;
  margin-left:10px;
  /* Add scroll-bars */
  overflow: auto;
}
div.sc_menu2 {
 /* Set it so we could calculate the offsetLeft */
  position: absolute;
  height: 210px;
  width: 500px;
  margin-top: 10px;
  margin-left:10px;
  /* Add scroll-bars */
  overflow: auto;
}
ul.sc_menu1, ul.sc_menu2 {
  display: block;
  height: 200px;
  /* Max width here, for users without Javascript */
  width: 2500px;
  padding: 15px 0 0 15px;
  /* Remove default margin */
  margin: 0;
  background: url('images/navigation.png');
  list-style: none;
}
.sc_menu1 li, .sc_menu2 li {
  display: block;
  float: left;
  padding: 0 4px;
}
.sc_menu1 a, .sc_menu2 a {
  display: block;
  text-decoration: none;
}
.sc_menu1 span, .sc_menu2 span{
  /* We want a caption to display on the next line */
  display: block;
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.sc_menu1 a:hover span, .sc_menu2 a:hover span  {
  display: block;
}
.sc_menu1 img, .sc_menu2 img {
  border: 3px #fff solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.sc_menu1 a:hover img, .sc_menu2 a:hover img  {
  filter:alpha(opacity=50);
  opacity: 0.5;
}
#slide1
{
background:url(images/tabs.jpg);
margin-top:15px;
margin-left:50px;
width:520px;
height:215px;
}
#slide2
{
background:url(images/tabs.jpg);
margin-top:20px;
margin-left:50px;
width:520px;
height:232px;
}
