
#mythreadreply
{
position:absolute;
margin-top:60px;
height:900px;
width:630px;
overflow-y:auto;
overflow-x:hidden;
}
#threadbox, #threadbox1
{
position:relative;
margin-bottom:auto;
margin-top:25px;
margin-left:25px;
margin-right:auto;
height:300px;
width:575px;
background-color:#fff;
border-style:solid;
border-color:#1569C7;
border-width: 1px;
}
#threadhead, #threadhead1
{
position:relative;
height:50px;
width:575px;
background:url(images/tablehead.jpg);
}
#threadside, #threadside1
{
position:relative;
height:250px;
width:170px;
background-color:#C6DEFF;
}
#threadtext, #threadtext1
{
position:relative;
margin-top:-240px;
margin-left:180px;
}
#threadtext textarea
{
 overflow-x:hidden;
 overflow-y:auto;
 border:none;
}
#threadtext1 textarea
{
 overflow-x:hidden;
 overflow-y:auto;
 border:none;
}
#threadname
{
 position:absolute;
 margin-top:10px;
 margin-left:20px;
 font-weight:bold;
 font-size: 12pt;
}
#thread_detail
{
 position:absolute;
 margin-top:10px;
 margin-left:50px;
 text-align: center;
 font-weight:bold;
 font-size: 10pt;
}


